/* coommon */
#page {
    width: 1200px;
    /* line-height:25px; 全体がくずれてしまう*/
    margin: 0 auto;
}

a {
    text-decoration: none;
}


/* common button */
.common-button a {
    background: rgb(133, 185, 65);
    font-size: 18px;
    border-radius: 50px;
    font-weight: 1000;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
    padding: 15px 15px;
    color: #313131;
    transition: 0.3s ease-in-out;
}
.common-button a:hover {
    background: #3c10b4;
    color: #FFF;
}
.common-button a:after {
    content: '';
    position: absolute;
}

/* Header */
header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white;
    align-items: center;
}

.title {
    margin-right: auto;
}

.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.field {
    display: flex;
    justify-content: center;
}


/* header pic */
.container {
    width: 600px;
    height: auto;
    position: relative;
}

.container img {
    width: 100%;
    height: auto;
}

/* news hover */
.news-hover :hover{
    transform:scale(1.01,1.01);
}

/* header pic */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 20px;
}

.grid-item {
    background-color: aqua;
    text-align: center;
}


/* form-table */
HTML CSSResult Skip Results Iframe
EDIT ON
body {
  width: 100%;
}


table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 650px;
  table-layout: fixed;
  color: #000;
}

table th {
  padding: 15px 0;
  border-right: 1px solid #bbb;
  text-align: left;
}

table tr {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #bbb;
}

table tr:last-child{
   border-bottom: none
}

table td {
  padding: 1em 10px 1em 1em;
  border-right: 1px solid #bbb;
  text-align: left;
}

table th:last-child,
table td:last-child{
  border: none;
}

/* footer */
footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #707070;
}

.footer-text {
    color: #707070;
}

